* {
    margin: 1px;
    padding: 0;
}
#main {
    // border: 1px solid $primary,
}

#header {
    height: 25vh;
    border: 1px solid $light,
}

#container {
    height: 75vh;
    border: 1px solid $light,
}