* {
    // margin: 1px;
    padding: 0;
    box-sizing: content-box;
}
#main {
    // border: 1px solid $primary,
}

#header {
    height: 25vh;
    border: 1px solid $light,
}

#container {
    height: 75vh;
    border: 1px solid $light;
    display: relative;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // gap: 1px;
    overflow: scroll;
}

.result {
    width: 1fr;
    height: 1fr;
    margin: 1vw;
    padding: 5vw;
    text-align: center;
    // border: 1px solid $light,

    img {
        width: 15vw;
        height: auto;
    }
}

#eq-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: scroll;
    transition: all 1s ease 0s;
}

.equipmentBtn {
    text-align: center;
    border: 1px solid $light,
}

.equipment {
    width: 100%;
    height: 160px;
    text-align: center;
    border: 1px solid $light,
}

#brand-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    overflow: scroll;
    transition: all 1s ease 0s;
}

.brandBtn {
    text-align: center;
    border: 1px solid $light,
}

.brand {
    width: 100%;
    height: 100px;
    text-align: center;
    border: 1px solid $light,
}