$primary: rgb(36, 132, 235);
$primaryhover: rgba(36, 132, 235, 0.598);
$primaryactive: rgba(36, 132, 235, 0.808);
// $primary: rgb(36, 46, 235);
$secondary: rgb(36, 56, 235);
// $secondary: rgb(36, 46, 235);
$light: rgb(92, 149, 149);